body{
    background: url("../Images/wepBg.jpg");
}
/*Card CSS */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: Justify;
    border-radius: 0px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-block {
    padding: 10px;
}
.parallax1 {
    /* The image used */
    background-image: url('background5.png');
	/* Full height */
	height: 80%;
	font-family: 'Cantarell', sans-serif;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px;
}